<ul class="list-group sticky-top">
    <li class="list-group-item pointer no-border no-outline">
        <div class="my-3 ">
            <img class="h-50x float-left" src="../assets/logo.png">
            <div class="">
            <p class="m-0 pb-1">WAIOZ</p>
            <p class="m-0"><span class="slogan">Angular v9</span></p>
            </div>
        </div>
    </li>
    <li class="list-group-item pointer no-border no-outline" routerLink="">Home</li>
    <li class="list-group-item pointer no-border no-outline" routerLink="lists">CRUD Functions</li>
    <li class="list-group-item pointer no-border no-outline" routerLink="document">Documentation</li>
    <li class="list-group-item pointer no-border no-outline" routerLink="about">About</li>
    <li class="list-group-item pointer no-border no-outline" routerLink="contact">Contact</li>
    <li class="list-group-item pointer no-border no-outline mt-5" routerLink="contact"><fa-icon class="mr-2 align-middle" [icon]="faGithub"></fa-icon>Get on Github</li>
    <li class="list-group-item pointer no-border no-outline" routerLink="contact"><fa-icon class="mr-2 align-middle" [icon]="faSlack"></fa-icon>Discuss on Slack</li>
</ul>

