<ul class="list-group sticky-top">
    <li class="list-group-item pointer no-border no-outline">
        <div class="my-3 ">
            <img class="h-50x float-left" src="../assets/logo.png">
            <div class="">
            <p class="m-0 pb-1">WAIOZ</p>
            <p class="m-0"><span class="slogan">Angular v9</span></p>
            </div>
        </div>
    </li>
    <li class="list-group-item pointer no-border no-outline" (click)="toggleSidebar()" routerLink="">Home</li>
    <li class="list-group-item pointer no-border no-outline" (click)="toggleSidebar()" routerLink="lists">CRUD Functions</li>
    <li class="list-group-item pointer no-border no-outline" (click)="toggleSidebar()" routerLink="maps">Maps</li>
    <li class="list-group-item pointer no-border no-outline" (click)="toggleSidebar()" routerLink="about">About</li>
    <li class="list-group-item pointer no-border no-outline" (click)="toggleSidebar()"><a class="normal_a" href="http://{{ domain }}:9010" target="_blank"><fa-icon class="mr-2 align-middle" [icon]="faLink"></fa-icon>Documentation</a></li>
    <li class="list-group-item pointer no-border no-outline" (click)="toggleSidebar()"><a class="normal_a" href="https://waioz.com/contacs" target="_blank"><fa-icon class="mr-2 align-middle" [icon]="faLink"></fa-icon>Contact</a></li>
    <li class="list-group-item pointer no-border no-outline mt-5" (click)="toggleSidebar()"><a class="normal_a" href="https://github.com/waioz/angular-9" target="_blank"><fa-icon class="mr-2 align-middle" [icon]="faGithub"></fa-icon>Get on Github</a></li>
    <li class="list-group-item pointer no-border no-outline" (click)="toggleSidebar()"><a class="normal_a" href="https://waioz.slack.com/archives/D63GDMNC9" target="_blank"><fa-icon class="mr-2 align-middle" [icon]="faSlack"></fa-icon>Discuss on Slack</a></li>
</ul>

