<div class="card sticky-top right-sticky no-border">
    <ul class="list-group">
        <li class="list-group-item no-border"><h5 class="mt-5 font-weight-bold">Featured Modules</h5></li>
        <li class="list-group-item no-border">Bootstrap</li>
        <li class="list-group-item no-border">Angular Universal</li>
        <li class="list-group-item no-border">PWA</li>
        <li class="list-group-item no-border">Lazy Loading Modules</li>
        <li class="list-group-item no-border">Google Maps</li>
        <li class="list-group-item no-border">Google Places Autocomplete</li>
        <li class="list-group-item no-border">Image Compressing</li>
        <li class="list-group-item no-border">Documentation</li>
    </ul>    
</div>