<div class="card sticky-top right-sticky no-border">
    <ul class="list-group">
        <li class="list-group-item pointer no-border" routerLink="">Home</li>
        <li class="list-group-item pointer no-border" routerLink="movies">Movies - CRUD Functions</li>
        <li class="list-group-item pointer no-border" routerLink="maps">Maps - Leaflet</li>
        <li class="list-group-item pointer no-border" routerLink="document">Documentation</li>
        <li class="list-group-item pointer no-border" routerLink="about">About</li>
        <li class="list-group-item pointer no-border" routerLink="contact">Contact</li>
    </ul>    
</div>